<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h3>Links</h3>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/product/10">Product</a>
        </li>
    </ul>


    <h1>Hello salsabila okta kirana selamat datang di web server nodejs</h1>
    <h2>hallo <%= nama %>
    </h2>
    <h4>Daftar Mahasiswa</h4>
    <% if (mhs.length < 1) { %>
<p>Data Mahasiswa masih kosong</p>
        <% }else{%>

            <% mhs.forEach(mhs=> { %>

                <ul>
                    <li>
                        nama: <%= mhs.nama %>
                    </li>
                    <li>
                        email: <%= mhs.email %>
                    </li>
                </ul>
                <% }) %>
                <% } %>
</body>

</html>