<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/p.jpeg" alt="Salsabila Okta" class="img-thumbnail rounded-circle"/>
            <h1 class="display-4">Salsabila Okta</h1>
            <p class="lead"> Lecturer | Content Creator</p>
        </div>
    </div>
</div>

